*{
    margin: 0;
    padding: 0;
    /* background: #0E1A1C; */
    box-sizing: border-box;
    /* color: #f7fff7; */
    color:black;
    font-family:'DM-Sans',sans-serif ;
}
.container-box{
     background:red;   
}

h1{
    font-family: poppins, sans-serif;
}
